<!-- Header and Nav -->

<div class="clearfix">
  <div class="site_headline_left">
    <h1 id="site_header"><%= link_to "It's never too late to hit restart", root_path %></h1>
    <h4 id="site_tagline">a blog by ebdrummond</h4>
  </div>

  <div class="site_headline_right">
    <%= link_to image_tag("github.png"), "http://github.com/ebdrummond", :target => "_blank" %>
    <%= link_to image_tag("linked_in.png"), "http://www.linkedin.com/pub/erin-drummond/a/59/943/", :target => "_blank" %>
    <%= link_to image_tag("twitter.png"), "http://twitter.com/ebdrummond", :target => "_blank" %>
  </div>
</div>

<nav class="top-bar">
  <section class="top-bar-section">
    <div class="row">
      <div class="twelve columns">
        <ul class="left" id="nav_bar">
          <li class="divider"></li>
          <li class="active"><a href="/">Professional Posts</a></li>
          <li class="divider"></li>
          <li><a href="personal_index">Personal Posts</a></li>
          <li class="divider"></li>
          <li><a href="about_me">About Me</a></li>
          <li class="divider"></li>
          <li><a href="resume">Resume</a></li>
          <li class="divider"></li>
        </ul>
      </div>
    </div>
  </section>
</nav>

<!-- End Header and Nav -->

<div class="row">
  <div class="five columns centered">
    <%= form_tag sessions_path do %>
      <p><%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %></p>
      <p><%= label_tag :password %>
      <%= password_field_tag :password, params[:password] %></p><br>
      <%= submit_tag "Log in", :class => "radius button" %>
    <% end %>
  </div>
</div>

<% 20.times do %>
  <br>
<% end %>