<!-- Header and Nav -->

<div class="clearfix">
  <div class="site_headline_left">
    <h1 id="site_header"><%= link_to "It's never too late to hit restart", root_path %></h1>
    <h4 id="site_tagline">a blog by ebdrummond</h4>
  </div>

  <div class="site_headline_right">
    <%= link_to image_tag("github.png"), "http://github.com/ebdrummond", :target => "_blank" %>
    <%= link_to image_tag("linked_in.png"), "http://www.linkedin.com/pub/erin-drummond/a/59/943/", :target => "_blank" %>
    <%= link_to image_tag("twitter.png"), "http://twitter.com/ebdrummond", :target => "_blank" %>
  </div>
</div>

<nav class="top-bar">
  <section class="top-bar-section">
    <div class="row">
      <div class="twelve columns">
        <ul class="left" id="nav_bar">
          <li class="divider"></li>
          <li><a href="/">Professional Posts</a></li>
          <li class="divider"></li>
          <li><a href="personal_index">Personal Posts</a></li>
          <li class="divider"></li>
          <li><a href="about_me">About Me</a></li>
          <li class="divider"></li>
          <li><a href="resume">Resume</a></li>
          <li class="divider"></li>
        </ul>
      </div>
    </div>
  </section>
</nav>

<!-- End Header and Nav -->

<div class="row">
  <div class="twelve columns">
    <h3><%= "All tags" %></h3>

      <% @tags.each do |tag| %>
        <p id="tag_posts"><%= link_to tag.name, tag_path(tag) %></p>
      <% end %>
    <br><br>
  </div>
</div>

<% if @tags.count < 7 %>
  <% 20.times do %>
    <br>
  <% end %>
<% end %>
